

<h1>生產管理</h1>
<h2>產品清單</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>產品名稱</th>
      <th>產品庫存</th>
      <th>製造日期</th>
      <th>成本</th>
      <th>售價</th>
      <th>生產工廠</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.p_id %></td>
        <td><%= product.p_name %></td>
        <td><%= product.p_inventory %></td>
        <td><%= product.produce_date %></td>
        <td><%= product.cost %></td>
        <td><%= product.price %></td>
        <td><%= product.factory %></td>
       <td><%= link_to '產品明細', product %></td>
        <td><%= link_to '編輯', edit_product_path(product) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<h2>生產中商品</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>產品名稱</th>
      <th>製造日期</th>
      <th>成本</th>
      <th>售價</th>
      <th>生產工廠</th>
      <th>原料來源</th>
      <th>生產個數</th>
      <th>生產時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.each do |material| %>
    <% if material.result == "小泡芙" && material.number!=0 %>
    <% @products.each do |product| %>
      <tr> 
        <% if product.p_name == "小泡芙"  %>
        <td><%= product.p_id %></td>
        <td><%= product.P_Name %></td>
        <td><%= product.produce_date %></td>
        <td><%= product.cost %></td>
        <td><%= product.price %></td>
        <td><%= product.factory %></td>
        <td><%= material.supplier %></td>
        <td><%= material.number/2 %>個</td>
        <td><%= material.updated_at %></td>
      <% else %>
      <% end %>
    <% end %>
    <% end %>
     </tr>
    <% end %>
    <% @materials.each do |material| %>
    <% if material.result == "牛奶" && material.number!=0 %>
    <% @products.each do |product| %>
      <tr>
        <% if product.p_name == "牛奶" %>
        <td><%= product.p_id %></td>
        <td><%= product.p_name %></td>
        <td><%= product.produce_date %></td>
        <td><%= product.cost %></td>
        <td><%= product.price %></td>
        <td><%= product.factory %></td>
        <td><%= material.supplier %></td>
        <td><%= material.number/6 %>個</td>
        <td><%= material.updated_at %></td>
      <% else %>
      <% end %>
    <% end %>
    <% end %>
     </tr>
    <% end %>
  </tbody>
</table>
<br>


<button type=button class="btn btn-lg btn-default"><a href="/materials">生產頁</a></button>
<button type=button class="btn btn-lg btn-default"><%= link_to '回首頁', root_path %></button>